
  <div class="container mt-5">
    <div class="row justify-content-center">
      <div class="col-lg-6">
        <h1 class="mb-4">Contact Us</h1>
        <a href="<%=`/contacts/new` %>"> <Button class="btn btn-primary mt-3 mb-3">Contact Us</Button></a>
  <table class="table">
    <thead>
      <tr>
        <th>name</th>
        <th>email</th>
        <th>subject</th>
        <th>message</th>
      </tr>
    </thead>

    
  </table>
      </div>
    </div>
</div>