<div class="ml-5 mr-5 pl-5 pr-5">
    <h1 >About Us</h1>
    <p>Brandeis Athletics is the sports program of Brandeis University, a private research university located in Waltham, Massachusetts. The sports complex at Brandeis University is known as the Gosman Sports and Convocation Center, and it serves as the primary athletic facility on campus.</p>
    <p>The Gosman Sports and Convocation Center was built in 1973 and has since undergone several renovations and upgrades. The facility includes a 2,500-seat arena for basketball and volleyball games, a 200-meter indoor track, a swimming pool, a fitness center, and various other sports and recreation facilities.</p>
    <p>The mission of Brandeis Athletics is to provide a comprehensive sports program that supports the academic and personal growth of student-athletes while promoting teamwork, leadership, and sportsmanship. The program aims to create a supportive and inclusive environment that fosters the development of well-rounded individuals who are committed to excellence both on and off the field.</p>
    <h2>The values of Brandeis Athletics</h2>
    <ul>
     <li>Excellence: The program is committed to providing student-athletes with the resources and support they need to excel both academically and athletically.</li>
     <li>Integrity: The program strives to uphold the highest standards of ethical conduct and sportsmanship.</li>
     <li>Teamwork: The program emphasizes the importance of collaboration, communication, and mutual respect among teammates, coaches, and staff.</li>
     <li>Diversity and Inclusion: The program is committed to creating a welcoming and inclusive environment that celebrates diversity and promotes equity and social justice.</li>
     <li>Community: The program values the relationships it has with the broader university community and seeks to engage with alumni, fans, and supporters to build a strong and vibrant athletic program.
    </li>
   </ul>
   <div class=". text-center">
    <img src="/images/aboutUs.jpeg" id="about-us-img">
   </div>
   <br>
</div>
  