<div class="ml-5 mr-5 pl-5 pr-5">
    <h1>Events</h1>
    <div class="content">
        <div class="one">
            <h2>Men's sport</h2>
            <ul>
            <li><pre><a href="#"><Strong>BASEBALL</Strong>                     <a href="#">Roster</a>     <a href="#">Schedule</a>     <a href="#">Stat</a>     <a href="https://www.facebook.com/brandeisjudges"><i class="fab fa-facebook-f"></i></a> <a href="https://twitter.com/BrandeisJudges"><i class="fab fa-twitter"></i></a> <a href="https://www.instagram.com/brandeisjudges/"><i class="fab fa-instagram"></i></a> <a href="https://www.youtube.com/user/brandeisjudges"><i class="fab fa-youtube"></i></a></pre>
            </a></li>
            <li><pre><a href="#"><Strong>BASKETBALL</Strong>                   <a href="#">Roster</a>     <a href="#">Schedule</a>     <a href="#">Stat</a>     <a href="https://www.facebook.com/brandeisjudges"><i class="fab fa-facebook-f"></i></a> <a href="https://twitter.com/BrandeisJudges"><i class="fab fa-twitter"></i></a> <a href="https://www.instagram.com/brandeisjudges/"><i class="fab fa-instagram"></i></a> <a href="https://www.youtube.com/user/brandeisjudges"><i class="fab fa-youtube"></i></a></pre>
            </a></li>
            <li><pre><a href="#"><Strong>CROSS COUNTRY</Strong>                <a href="#">Roster</a>     <a href="#">Schedule</a>     <a href="#">Stat</a>     <a href="https://www.facebook.com/brandeisjudges"><i class="fab fa-facebook-f"></i></a> <a href="https://twitter.com/BrandeisJudges"><i class="fab fa-twitter"></i></a> <a href="https://www.instagram.com/brandeisjudges/"><i class="fab fa-instagram"></i></a> <a href="https://www.youtube.com/user/brandeisjudges"><i class="fab fa-youtube"></i></a></pre>
            </a></li>
            <li><pre><a href="#"><Strong>FENCING</Strong>                      <a href="#">Roster</a>     <a href="#">Schedule</a>     <a href="#">Stat</a>     <a href="https://www.facebook.com/brandeisjudges"><i class="fab fa-facebook-f"></i></a> <a href="https://twitter.com/BrandeisJudges"><i class="fab fa-twitter"></i></a> <a href="https://www.instagram.com/brandeisjudges/"><i class="fab fa-instagram"></i></a> <a href="https://www.youtube.com/user/brandeisjudges"><i class="fab fa-youtube"></i></a></pre>
            </a></li>
            <li><pre><a href="#"><Strong>SOCCER</Strong>                       <a href="#">Roster</a>     <a href="#">Schedule</a>     <a href="#">Stat</a>     <a href="https://www.facebook.com/brandeisjudges"><i class="fab fa-facebook-f"></i></a> <a href="https://twitter.com/BrandeisJudges"><i class="fab fa-twitter"></i></a> <a href="https://www.instagram.com/brandeisjudges/"><i class="fab fa-instagram"></i></a> <a href="https://www.youtube.com/user/brandeisjudges"><i class="fab fa-youtube"></i></a></pre>
            </a></li>
            <li><pre><a href="#"><Strong>SWIMMING AND DIVING</Strong>          <a href="#">Roster</a>     <a href="#">Schedule</a>     <a href="#">Stat</a>     <a href="https://www.facebook.com/brandeisjudges"><i class="fab fa-facebook-f"></i></a> <a href="https://twitter.com/BrandeisJudges"><i class="fab fa-twitter"></i></a> <a href="https://www.instagram.com/brandeisjudges/"><i class="fab fa-instagram"></i></a> <a href="https://www.youtube.com/user/brandeisjudges"><i class="fab fa-youtube"></i></a></pre>
            </a></li>
            <li><pre><a href="#"><Strong>TENNIS</Strong>                       <a href="#">Roster</a>     <a href="#">Schedule</a>     <a href="#">Stat</a>     <a href="https://www.facebook.com/brandeisjudges"><i class="fab fa-facebook-f"></i></a> <a href="https://twitter.com/BrandeisJudges"><i class="fab fa-twitter"></i></a> <a href="https://www.instagram.com/brandeisjudges/"><i class="fab fa-instagram"></i></a> <a href="https://www.youtube.com/user/brandeisjudges"><i class="fab fa-youtube"></i></a></pre>
            </a></li>
            <li><pre><a href="#"><Strong>TRACK AND FIELD</Strong>              <a href="#">Roster</a>     <a href="#">Schedule</a>     <a href="#">Stat</a>     <a href="https://www.facebook.com/brandeisjudges"><i class="fab fa-facebook-f"></i></a> <a href="https://twitter.com/BrandeisJudges"><i class="fab fa-twitter"></i></a> <a href="https://www.instagram.com/brandeisjudges/"><i class="fab fa-instagram"></i></a> <a href="https://www.youtube.com/user/brandeisjudges"><i class="fab fa-youtube"></i></a></pre>
            </a></li>
            <li><pre><a href="#"><Strong>FOOTBALL</Strong>                     <a href="#">Roster</a>     <a href="#">Schedule</a>     <a href="#">Stat</a>     <a href="https://www.facebook.com/brandeisjudges"><i class="fab fa-facebook-f"></i></a> <a href="https://twitter.com/BrandeisJudges"><i class="fab fa-twitter"></i></a> <a href="https://www.instagram.com/brandeisjudges/"><i class="fab fa-instagram"></i></a> <a href="https://www.youtube.com/user/brandeisjudges"><i class="fab fa-youtube"></i></a></pre>
            </a></li>
            </ul>
        </div>
        <div class="two">
            <h2>Women's sport</h2>
            <ul>
                <li><pre><a href="#"><Strong>BASEBALL</Strong>                     <a href="#">Roster</a>     <a href="#">Schedule</a>     <a href="#">Stat</a>     <a href="https://www.facebook.com/brandeisjudges"><i class="fab fa-facebook-f"></i></a> <a href="https://twitter.com/BrandeisJudges"><i class="fab fa-twitter"></i></a> <a href="https://www.instagram.com/brandeisjudges/"><i class="fab fa-instagram"></i></a> <a href="https://www.youtube.com/user/brandeisjudges"><i class="fab fa-youtube"></i></a></pre>
                </a></li>
                <li><pre><a href="#"><Strong>BASKETBALL</Strong>                   <a href="#">Roster</a>     <a href="#">Schedule</a>     <a href="#">Stat</a>     <a href="https://www.facebook.com/brandeisjudges"><i class="fab fa-facebook-f"></i></a> <a href="https://twitter.com/BrandeisJudges"><i class="fab fa-twitter"></i></a> <a href="https://www.instagram.com/brandeisjudges/"><i class="fab fa-instagram"></i></a> <a href="https://www.youtube.com/user/brandeisjudges"><i class="fab fa-youtube"></i></a></pre>
                </a></li>
                <li><pre><a href="#"><Strong>CROSS COUNTRY</Strong>                <a href="#">Roster</a>     <a href="#">Schedule</a>     <a href="#">Stat</a>     <a href="https://www.facebook.com/brandeisjudges"><i class="fab fa-facebook-f"></i></a> <a href="https://twitter.com/BrandeisJudges"><i class="fab fa-twitter"></i></a> <a href="https://www.instagram.com/brandeisjudges/"><i class="fab fa-instagram"></i></a> <a href="https://www.youtube.com/user/brandeisjudges"><i class="fab fa-youtube"></i></a></pre>
                </a></li>
                <li><pre><a href="#"><Strong>FENCING</Strong>                      <a href="#">Roster</a>     <a href="#">Schedule</a>     <a href="#">Stat</a>     <a href="https://www.facebook.com/brandeisjudges"><i class="fab fa-facebook-f"></i></a> <a href="https://twitter.com/BrandeisJudges"><i class="fab fa-twitter"></i></a> <a href="https://www.instagram.com/brandeisjudges/"><i class="fab fa-instagram"></i></a> <a href="https://www.youtube.com/user/brandeisjudges"><i class="fab fa-youtube"></i></a></pre>
                </a></li>
                <li><pre><a href="#"><Strong>SOCCER</Strong>                       <a href="#">Roster</a>     <a href="#">Schedule</a>     <a href="#">Stat</a>     <a href="https://www.facebook.com/brandeisjudges"><i class="fab fa-facebook-f"></i></a> <a href="https://twitter.com/BrandeisJudges"><i class="fab fa-twitter"></i></a> <a href="https://www.instagram.com/brandeisjudges/"><i class="fab fa-instagram"></i></a> <a href="https://www.youtube.com/user/brandeisjudges"><i class="fab fa-youtube"></i></a></pre>
                </a></li>
                <li><pre><a href="#"><Strong>SWIMMING AND DIVING</Strong>          <a href="#">Roster</a>     <a href="#">Schedule</a>     <a href="#">Stat</a>     <a href="https://www.facebook.com/brandeisjudges"><i class="fab fa-facebook-f"></i></a> <a href="https://twitter.com/BrandeisJudges"><i class="fab fa-twitter"></i></a> <a href="https://www.instagram.com/brandeisjudges/"><i class="fab fa-instagram"></i></a> <a href="https://www.youtube.com/user/brandeisjudges"><i class="fab fa-youtube"></i></a></pre>
                </a></li>
                <li><pre><a href="#"><Strong>TENNIS</Strong>                       <a href="#">Roster</a>     <a href="#">Schedule</a>     <a href="#">Stat</a>     <a href="https://www.facebook.com/brandeisjudges"><i class="fab fa-facebook-f"></i></a> <a href="https://twitter.com/BrandeisJudges"><i class="fab fa-twitter"></i></a> <a href="https://www.instagram.com/brandeisjudges/"><i class="fab fa-instagram"></i></a> <a href="https://www.youtube.com/user/brandeisjudges"><i class="fab fa-youtube"></i></a></pre>
                </a></li>
                <li><pre><a href="#"><Strong>TRACK AND FIELD</Strong>              <a href="#">Roster</a>     <a href="#">Schedule</a>     <a href="#">Stat</a>     <a href="https://www.facebook.com/brandeisjudges"><i class="fab fa-facebook-f"></i></a> <a href="https://twitter.com/BrandeisJudges"><i class="fab fa-twitter"></i></a> <a href="https://www.instagram.com/brandeisjudges/"><i class="fab fa-instagram"></i></a> <a href="https://www.youtube.com/user/brandeisjudges"><i class="fab fa-youtube"></i></a></pre>
                </a></li>
                <li><pre><a href="#"><Strong>VOLLEYBALL</Strong>                   <a href="#">Roster</a>     <a href="#">Schedule</a>     <a href="#">Stat</a>     <a href="https://www.facebook.com/brandeisjudges"><i class="fab fa-facebook-f"></i></a> <a href="https://twitter.com/BrandeisJudges"><i class="fab fa-twitter"></i></a> <a href="https://www.instagram.com/brandeisjudges/"><i class="fab fa-instagram"></i></a> <a href="https://www.youtube.com/user/brandeisjudges"><i class="fab fa-youtube"></i></a></pre>
                </a></li>
                </ul>
        </div>
    </div>
    <div class="content">
        <div class = "one">
            <img src="/images/EventsPhoto.jpeg" height="300" width="650">
        </div>
        <div>
            <img src="/images/EventsPhoto2.jpeg" height="300" width="650">
        </div>

    </div>
</div>
