<div class="facilities">
  <h1 class="display-2">Facilities</h1>
  <h1 class="display-1">The Red Aurebach Arena</h1>
  <img src="images/auerbach.jpg" alt="Red Auerbach Arena" id="auerbach" />
  <h1 class="display-1">Gordon Field</h1>
  <img src="images/gordon_field.jpg" alt="Gordon Field" id="gordon" />
 
    <h1 class="display-1">Weight Room</h1>
    <div class="weightroom">
    <img
      src="images/machines.jpg"
      alt="Exercise Machines"
      id="machines"
      class="weightroom"
    />
    <img
      src="images/dumbells.jpg"
      alt="Well Organized Dumbells"
      id="dumbells"
      class="weightroom"
    />
    <img
      src="images/old_bench.jpg"
      alt="State of the art equipment"
      id="bench"
      class="weightroom"
    />
  </div>

</div>
