<div class="ml-5 mr-5 pl-5 pr-5">
    <h1>Facility Memberships and Guest Policies</h1>
    <p>All current Brandeis students, faculty, and staff, may use the athletic facilities free of charge.  
        A valid Brandeis ID card must be presented to enter and upon request.</p>
    
    
    <h2>Membership Policy</h2>
    <p>Facility memberships can be purchased by eligible individuals by submitting a membership application.  
        Once information is verified and membership application approved, instructions will be sent for picking up membership cards.  
        Please contact Tom Rand <a href = "mailto: rand@brandeis.edu">rand@brandeis.edu</a> or Michael Matt <a href = "mailto: mmatt@brandeis.edu">mmatt@brandeis.edu</a> with any questions.</p>
    
    
    <h2>Type of Memberships</h2>
    <ul>
        <li>Alumni</li>
        <li>Immediate Family of current student, faculty or staff (must be 18 years or older) </li>
        <li>Waltham Senior Citizen (must be 65 years or older and a Waltham resident)</li>
        <li>Current BOLLI student</li>
    </ul>
    

    <h2>Pricing</h2>
    <ul>
        <li>$500/full year</li>
        <li>$300/semester</li>
        <li>$250/summer</li>
        <li>$100/intersession break</li>
    </ul>
    <p>All payments are due in full at the start of the membership period.  No prorating.  No refunds.</p>
    <p>Credit card payments accepted online only.  Only cash and check payments accepted in person.</p>

    <h2>Guest Policy</h2>
    <p>Current Brandeis students, faculty, staff, and members may bring guests into the facility. </p>
    <ul>
        <li>All guests must be accompanied by their Brandeis sponsor at all times.</li>
        <li>All guests must sign a waiver of liability and assumption of risk form at the front desk.</li>
        <li>All guests must pay a fee of $10/guest per day.</li>
    </ul>
    <p>No appointment is necessary.  Cash or checks only.  No credit cards.</p>


    <h2>Child Policy</h2>
    <p>Current Brandeis students, faculty, staff, and members may bring their children into the facility. </p>
    <ul>
        <li>Children 12 years and younger - no charge</li>
        <li>Children 13 years and older must follow the Guest Policy (see above).</li>
        <li>Children must be supervised by their parent/guardian at all times in the facility.</li>
        <li>Children 12 years and younger are NOT allowed in the weight room.</li>
    </ul>
</div>