<div class="programs">
  <h1 class="display-1">Programs</h1>
  <div class="program-row">
    <div class="card" style="width: 18rem">
      <img
        src="images/groupfitness.jpeg"
        class="card-img-top"
        alt="Group Fitness"
      />
      <div class="card-body">
        <h5 class="card-title">Group Fitness</h5>
        <p class="card-text">
          Zumba, yoga, cycling, and more. Our expert-lead group fitness classes
          are sure to make you sweat. Click below to see our schedule!
        </p>
        <a
          href="https://www.brandeisjudges.com/recreation/fitness/gx/group-fitness"
          class="btn btn-primary"
          target="_blank"
          >More Info</a
        >
      </div>
    </div>
    <div class="card" style="width: 18rem">
      <img
        src="images/personaltrainer.jpeg"
        class="card-img-top"
        alt="A Personal Trainer"
      />
      <div class="card-body">
        <h5 class="card-title">Personal Trainer</h5>
        <p class="card-text">
          Meet with one of our expert personal trainers to help you elevate your
          fitness to the next level, whether you are working out for the first
          time or are a seasoned athete.
        </p>
        <a
          href="https://www.brandeisjudges.com/recreation/fitness/pt/index"
          class="btn btn-primary"
          target="_blank"
          >More Info</a
        >
      </div>
    </div>
  </div>
  <div class="program-row">
    <div class="card" style="width: 18rem">
      <img
        src="images/nutrition.jpg"
        class="card-img-top"
        alt="Nutritious Foods"
      />
      <div class="card-body">
        <h5 class="card-title">Nutrition Coaching</h5>
        <p class="card-text">
          Want to lose weight and gain some muscle? Let us help you evaluate and
          plan a diet that works, for you.
        </p>
        <a
          href="https://www.brandeisjudges.com/recreation/fitness/nutrition"
          class="btn btn-primary"
          target="_blank"
          >More Info</a
        >
      </div>
    </div>
    <div class="card" style="width: 18rem">
      <img
        src="images/intramural.jpg"
        class="card-img-top"
        alt="Brandeis Intramural Sports"
      />
      <div class="card-body">
        <h5 class="card-title">Intramural Sports</h5>
        <p class="card-text">
          Have fun and meet new friends by participating in one of Brandeis'
          many intramural sports!
        </p>
        <a
          href="https://www.brandeisjudges.com/sports/intramurals/index"
          class="btn btn-primary"
          target="_blank"
          >More Info</a
        >
      </div>
    </div>
  </div>
  <div class="program-row">
    <div class="card" style="width: 18rem">
      <img
        src="images/kid_swimming.jpg"
        class="card-img-top"
        alt="Child Swimming"
      />
      <div class="card-body">
        <h5 class="card-title">Youth Swimming Lessons</h5>
        <p class="card-text">
          Swimming is an important skill, especially for kids. Register your
          child today!
        </p>
        <a
          href="https://www.brandeisjudges.com/recreation/aquatics"
          class="btn btn-primary"
          target="_blank"
          >More Info</a
        >
      </div>
    </div>
    <div class="card" style="width: 18rem">
      <img src="images/outdoors.jpg" class="card-img-top" alt="Forest Path" />
      <div class="card-body">
        <h5 class="card-title">Outdoor Pursuits</h5>
        <p class="card-text">
          Get some fresh air and great exercise by joining us on an outdoor
          pursuit.
        </p>
        <a
          href="https://www.brandeisjudges.com/recreation/fitness/OutdoorPursuits/index"
          class="btn btn-primary"
          target="_blank"
          >More Info</a
        >
      </div>
    </div>
  </div>
</div>
