#about-us-img{
    width:70%;
}


footer a{
    margin-left: 15px;
    color:white;
}

body{
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}
footer{
    margin-top: auto;
}
h1{
    font-size: 40px;
}
h2{
    font-size: 25px;
}
.content
{
    display: flex;
    align-items: center;
    justify-content: left;
}
.one
{
    margin-right: 100px;
    float: left;  
}
.two
{
    float: right;
}


