<div class="facilities">
  <h1 class="display-2">Facilities</h1>
  <!-- Auerbach Arena -->
  <a
    href="/facilities/new"
    class="btn btn-primary"
    style="background-color: #003478;"
  >Add</a>
  <% facility.forEach(f => { %>
    <a href="<%= `/facilities/${f._id}`%>"><h1 class="display-1"><%= f.name %></h1></a>
      <img
        src="https://images.unsplash.com/photo-1517838277536-f5f99be501cd?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1470&q=80"
        class="card-img-top"
        alt="Group Fitness"
        style="width: 60%;"
      />
      <p>
        <%= f.description %>
      </p>
<% }); %>
  <h1 class="display-1">The Red Aurebach Arena</h1>
  <img src="images/auerbach.jpg" alt="Red Auerbach Arena" id="auerbach" />
  <p>
    Featuring a 200m indoor track, a full sized basketball court, and three
    tennis courts, the Red Auerbach Arena can host many athletic events.
  </p>
  <!-- Gordon Field  -->
  <h1 class="display-1">Gordon Field</h1>
  <img src="images/gordon_field.jpg" alt="Gordon Field" id="gordon" />
  <p>
    The Gordon Field is a full-sized soccer field, surrounded by a 400m track
  </p>
  <!-- Weight Room -->
  <h1 class="display-1">Weight Room</h1>

  <div class="weightroom">
    <img
      src="images/machines.jpg"
      alt="Exercise Machines"
      id="machines"
      class="weightroom"
    />
    <img
      src="images/dumbells.jpg"
      alt="Well Organized Dumbells"
      id="dumbells"
      class="weightroom"
    />
    <img
      src="images/old_bench.jpg"
      alt="State of the art equipment"
      id="bench"
      class="weightroom"
    />
  </div>
  <p>Brandeis' weight room has everything you need to get swole, including:</p>
  <ul>
    <li>A diverse array of exercise machines</li>
    <li>Respectful patrons who definitely always put away their weights</li>
    <li>
      Super up-to-date barbell equipment that totally isn't in need of repair or
      replacement
    </li>
    <li>
      Like seriously 10 different brands of weightplates, so you can never have
      a consistent experience
    </li>
  </ul>
</div>
