<h1 class="display-1"><%= facility.name %></h1>
  <!-- <img src="../images/auerbach.jpg" alt="Red Auerbach Arena" id="auerbach" /> -->
  <p>
    <%= facility.type %>
  </p>
  <p>
    <%= facility.description %>
  </p>