<div class="data-form">
    <form action="/events/create" method="POST">
      <h2>Create a new event</h2>
      <label for="name">Event name:</label>
      <input type="String" id="name" name="name" required>
  
      <label for="description">description:</label>
      <input type="String" id="description" name="description" required>
  
      <label for="date">date:</label>
      <input type="Date" id="date" name="date" required>
  
      <label for="location">location</label>
      <input type="String" id="location" name="location"  required>
      
      <button type="submit" class="btn btn-primary mt-3 mb-3">Submit</button>
    </form>
  </div>